<?xml version="1.0" encoding="utf-8"?>
<Media Key="d66dd096-64e8-49ef-ac8a-30bd5a99b999" Alias="XPEDITE" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/XPEDITE</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-02-20T21:50:36</CreateDate>
    <NodeName Default="XPEDITE" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/dencwyeb/logo-transparent.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>