<?xml version="1.0" encoding="utf-8"?>
<Media Key="919aa68b-e673-41c1-99ac-58d095b68ddd" Alias="XPEDITE-Image" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/XPEDITEImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-02-20T22:01:49</CreateDate>
    <NodeName Default="XPEDITE-Image" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/arwnyjy0/icon-banner.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>