<?xml version="1.0" encoding="utf-8"?>
<DataType Key="efccda10-c84b-42bd-8a29-3bf72820d660" Alias="MainBlocksProperties - Main Blocks - Block List Property Editor UI" Level="1">
  <Info>
    <Name>MainBlocksProperties - Main Blocks - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "5b71b96b-0341-4168-b09d-edd3e4151830",
      "settingsElementTypeKey": "f971f4b6-2aaf-4cd0-b9fa-4ba587261ca6",
      "label": "Content Block"
    },
    {
      "contentElementTypeKey": "d3b41744-57d1-4906-8258-65bed73fab0f",
      "label": "Rich Text Block"
    }
  ]
}]]></Config>
</DataType>