<?xml version="1.0" encoding="utf-8"?>
<Content Key="738a60b6-4ee0-44e7-8e4e-85f7ff169823" Alias="Blocks" Level="3">
  <Info>
    <Parent Key="9ba2018d-045c-4426-9183-48854821ab7c">Documentation</Parent>
    <Path>/Home/Documentation/Blocks</Path>
    <Trashed>false</Trashed>
    <ContentType>documentationPage</ContentType>
    <CreateDate>2025-02-20T20:55:08</CreateDate>
    <NodeName Default="Blocks" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <pageBlockList>
      <Value><![CDATA[]]></Value>
    </pageBlockList>
    <pageTitle>
      <Value><![CDATA[Blocks]]></Value>
    </pageTitle>
  </Properties>
</Content>