<?xml version="1.0" encoding="utf-8"?>
<Content Key="db85ede7-020f-420f-9050-7018e73ad415" Alias="Content Block" Level="4">
  <Info>
    <Parent Key="738a60b6-4ee0-44e7-8e4e-85f7ff169823">Blocks</Parent>
    <Path>/Home/Documentation/Blocks/ContentBlock</Path>
    <Trashed>false</Trashed>
    <ContentType>documentationPage</ContentType>
    <CreateDate>2025-02-20T20:56:58</CreateDate>
    <NodeName Default="Content Block" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <pageBlockList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "5b71b96b-0341-4168-b09d-edd3e4151830",
      "key": "7ea6c51c-ff62-4d43-b0f1-e7be542f8a3c",
      "udi": null,
      "values": [
        {
          "alias": "callToAction",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Visit the Umbraco site",
              "target": "_blank",
              "udi": null,
              "url": "https://umbraco.com/",
              "queryString": null
            }
          ]
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "This is a content Block"
        },
        {
          "alias": "richText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Cp\u003EThis can contain all the elements you need to make a delightful piece of content. A title, some rich text, a call to action, and icon, and and image. You must\u0027ve seen things like this a thousand times.\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        },
        {
          "alias": "icon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "bf09e45a-e710-47a4-ba51-ba851c78e0c0",
              "mediaKey": "d66dd096-64e8-49ef-ac8a-30bd5a99b999",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "2f3e3797-0ec2-4293-a876-f1ba5727c397",
              "mediaKey": "919aa68b-e673-41c1-99ac-58d095b68ddd",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "f971f4b6-2aaf-4cd0-b9fa-4ba587261ca6",
      "key": "164f142a-d5bf-4965-ae1a-626f7692a0a6",
      "udi": null,
      "values": [
        {
          "alias": "backgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "0ea343bd-5d27-4e15-846e-a0f642277824",
              "mediaKey": "0028f007-4a1c-4018-a63a-5f877dc813ce",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "7ea6c51c-ff62-4d43-b0f1-e7be542f8a3c",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "7ea6c51c-ff62-4d43-b0f1-e7be542f8a3c",
        "contentUdi": null,
        "settingsKey": "164f142a-d5bf-4965-ae1a-626f7692a0a6",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </pageBlockList>
    <pageTitle>
      <Value><![CDATA[Content Block]]></Value>
    </pageTitle>
  </Properties>
</Content>