<?xml version="1.0" encoding="utf-8"?>
<Content Key="9ba2018d-045c-4426-9183-48854821ab7c" Alias="Documentation" Level="2">
  <Info>
    <Parent Key="901be025-10e2-44ea-9942-6b791682e4fa">Home</Parent>
    <Path>/Home/Documentation</Path>
    <Trashed>false</Trashed>
    <ContentType>documentationPage</ContentType>
    <CreateDate>2025-02-20T20:54:21</CreateDate>
    <NodeName Default="Documentation" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <pageBlockList>
      <Value><![CDATA[]]></Value>
    </pageBlockList>
    <pageTitle>
      <Value><![CDATA[Documentation]]></Value>
    </pageTitle>
  </Properties>
</Content>