<?xml version="1.0" encoding="utf-8"?>
<Content Key="bd3c06a6-5865-49d6-beb5-a8d72c8d8206" Alias="Home" Level="4">
  <Info>
    <Parent Key="3a3001f5-8e3b-4390-a928-ec6988488d31">Page Types</Parent>
    <Path>/Home/Documentation/PageTypes/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2025-02-20T20:58:27</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <pageBlockList>
      <Value><![CDATA[]]></Value>
    </pageBlockList>
    <pageTitle>
      <Value><![CDATA[Home]]></Value>
    </pageTitle>
  </Properties>
</Content>