<?xml version="1.0" encoding="utf-8"?>
<Content Key="901be025-10e2-44ea-9942-6b791682e4fa" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2025-02-20T20:48:18</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7b5563b3-57d6-437a-b261-94442649ba77">xpedite</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <pageBlockList>
      <Value><![CDATA[]]></Value>
    </pageBlockList>
    <pageTitle>
      <Value><![CDATA[Let's XPEDITE your workflow!]]></Value>
    </pageTitle>
  </Properties>
</Content>