<?xml version="1.0" encoding="utf-8"?>
<Content Key="3a3001f5-8e3b-4390-a928-ec6988488d31" Alias="Page Types" Level="3">
  <Info>
    <Parent Key="9ba2018d-045c-4426-9183-48854821ab7c">Documentation</Parent>
    <Path>/Home/Documentation/PageTypes</Path>
    <Trashed>false</Trashed>
    <ContentType>documentationPage</ContentType>
    <CreateDate>2025-02-20T20:54:52</CreateDate>
    <NodeName Default="Page Types" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <pageBlockList>
      <Value><![CDATA[]]></Value>
    </pageBlockList>
    <pageTitle>
      <Value><![CDATA[Page Types]]></Value>
    </pageTitle>
  </Properties>
</Content>