<?xml version="1.0" encoding="utf-8"?>
<Content Key="961ba2ba-4429-4c8f-a7a3-17ae4425f372" Alias="Page1" Level="2">
  <Info>
    <Parent Key="901be025-10e2-44ea-9942-6b791682e4fa">Home</Parent>
    <Path>/Home/Page1</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2025-02-20T21:08:26</CreateDate>
    <NodeName Default="Page1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <pageBlockList>
      <Value><![CDATA[]]></Value>
    </pageBlockList>
    <pageTitle>
      <Value><![CDATA[Page 1]]></Value>
    </pageTitle>
  </Properties>
</Content>