<?xml version="1.0" encoding="utf-8"?>
<Content Key="25a70871-5d7b-41fd-a7d0-1be574b81938" Alias="Page2" Level="2">
  <Info>
    <Parent Key="901be025-10e2-44ea-9942-6b791682e4fa">Home</Parent>
    <Path>/Home/Page2</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2025-02-20T21:08:39</CreateDate>
    <NodeName Default="Page2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <pageBlockList>
      <Value><![CDATA[]]></Value>
    </pageBlockList>
    <pageTitle>
      <Value><![CDATA[Page 2]]></Value>
    </pageTitle>
  </Properties>
</Content>