<?xml version="1.0" encoding="utf-8"?>
<Content Key="b43f0bfb-4345-46fb-bc0c-073394a53709" Alias="Page" Level="4">
  <Info>
    <Parent Key="3a3001f5-8e3b-4390-a928-ec6988488d31">Page Types</Parent>
    <Path>/Home/Documentation/PageTypes/Page</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2025-02-20T20:58:17</CreateDate>
    <NodeName Default="Page" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <pageBlockList>
      <Value><![CDATA[]]></Value>
    </pageBlockList>
    <pageTitle>
      <Value><![CDATA[Page]]></Value>
    </pageTitle>
  </Properties>
</Content>