<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5b71b96b-0341-4168-b09d-edd3e4151830" Alias="contentBlock" Level="2">
  <Info>
    <Name>ContentBlock</Name>
    <Icon>icon-plugin</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks</Folder>
    <Compositions>
      <Composition Key="dcfe7c13-a555-4767-be70-1d93d86b02dc">callToActionProperties</Composition>
      <Composition Key="d220f8f9-5eb8-440a-beb7-9b6a151bf38e">iconProperties</Composition>
      <Composition Key="f9fe4bf5-b093-49bb-a945-1207fa429a11">imageProperties</Composition>
      <Composition Key="1aac8121-f279-4d0b-8256-8ebffb3e8e98">richTextProperties</Composition>
      <Composition Key="137c1869-546c-4146-b5a6-81b18a740a52">titleProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>