<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8f5139bf-12a2-4459-8ad9-4669cb59e385" Alias="documentationPage" Level="2">
  <Info>
    <Name>Documentation Page</Name>
    <Icon>icon-help-alt color-brown</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="60f995eb-092b-4643-ad39-eee7d1ce820f">pageBlockListProperties</Composition>
      <Composition Key="84aa6cc1-0deb-430d-bbea-535d3f59482d">pageTitleProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="d80584f9-f18f-4013-990a-4d5282cc4557" SortOrder="0">page</ContentType>
    <ContentType Key="8f5139bf-12a2-4459-8ad9-4669cb59e385" SortOrder="1">documentationPage</ContentType>
    <ContentType Key="d18b0aec-e228-4a11-8c77-2249f3ae4b9b" SortOrder="2">home</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>